<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - HarmonyHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <header class="header">
        <h1>HarmonyHub</h1>
        <nav>
                <a href="{{ url_for('match') }}">Find Matches</a>
                <a href="{{ url_for('logout') }}">Log Out</a>
        </nav>
    </header>
    
    <main>
        <div class="profile-container">
            <h2>Bienvenido, <span id="user-name">{{ nombre }}</span></h2>

            <div class="profile-section">
                <label for="gustos-container">Selecciona tus géneros favoritos:</label>
                <div id="gustos-container" class="gustos-container"></div>
            </div>

            <button id="save-profile-btn">Guardar cambios</button>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>

</body>
</html>
